$pastel-dark-blue: #3a526f;
$pastel-dark-blue-white: #eef2f6;
$blue-blue-light: #7ea8e7;
$blue-blue: #2c70d9;
// $blue-blue: #145dd7;
$gray-light: #dbe3ec;
$white: #fcfcfc;
$black: #070707;
$orange-red: #e44d28;
$lemon-yellow: #fee328;

$body-bg: $white;
$header-bg: $pastel-dark-blue;
$nav-bg: $pastel-dark-blue;
$board-bg: $white;
$right-pane-bg: $blue-blue;
$right-pane-card-bg: $blue-blue-light;
$base-focused-bg: $pastel-dark-blue-white;

$black-text: $black;
$white-text: $white;
$red-text: $orange-red;
$yellow-text: $lemon-yellow;
$blue-text: $pastel-dark-blue;


