.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .header {
    height: 108px;
    display: flex;
    align-items: center;

    .header-wrapper {
      font-size: inherit;
      display: flex;
      margin-left: 38px;

      .info {
        margin-right: 18px;
        font-size: inherit;

        .title {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .location {
          font-size: 12px;
          span {
            color: $blue-text;
            font-weight: 300;
          }
          a {
            color: $blue-text;
            text-decoration: none;
            font-weight: 300;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .tools {
        color: $blue-text;
        font-size: 8px;
        display: flex;
        align-items: center;
        padding-bottom: 18px;

        .svg {
          height: 8px;
          fill: $blue-text;
          margin-right: 5px;
        }
        span {
          margin-right: 8px;
          cursor: pointer;

          &:hover span {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .body {
    padding-left: 38px;
    box-sizing: border-box;
    flex: 1;

    .wrapper {
      display: flex;

      .service-table {
        color: $blue-text;  
        
        table {
          flex: 1;
          min-width: 605px;
          
          caption {
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            vertical-align: middle;
            margin-bottom: 14px;
            margin-left: 5px;
          }
          tbody {

            tr {
              font-size: 12px;
              font-weight: 300;

              &:hover {
                background-color: $base-focused-bg;
              }
              &:first-child {
                border-top: 1px solid $blue-text;

                th, td {
                  padding-top: 3px;
                }
              }
              &:last-child {
                border-bottom: 1px solid $blue-text;

                th, td {
                  padding-bottom: 3px;
                }
              }
              th {
                padding-left: 18px;
                text-align: left;
                vertical-align: middle;
                min-width: 230px;
                height: 48px;

                .svg {
                  fill: $blue-text;
                  height: 14px;
                  margin-right: 10px;
                }
              }
              td {
                text-align: left;
                vertical-align: middle;
                padding-right: 18px;
              }
            }
          }
        }
      }
    }
  }
}

// #test-box {
//   height: 300px;
//   width: 300px;
//   display: flex;
//   flex-direction: column;
//   border: 4px solid green;
//   .box1 {
//     height: 100px; 
//     width: 300px; 
//     background-color: red;
//   }
//   .box2 {
//     width: 300px; 
//     flex: 1;
//     background-color: blue;
//   }
// }